.logo{
    text-align: center;
}
.subjects{
    text-align: center;
    margin-bottom: 9px;
}
.reg-log-section {
    text-align: center;
}
.circleWrap1, .circleWrap2, .circleWrap3, .circleWrap4, .circleWrap5, .circleWrap6, .circleWrap7, .circleWrap8, .circleWrap9, .circleWrap10, .circleWrap11, .circleWrap12{
    margin: 15px auto;
}
.wrapper3 .row1, .wrapper3 .row2{
    margin-bottom: 0px;
}
.wrapper5 .get-started a{
    padding: 12px 28px;
}
.wrapper9 .get-started a{
    padding: 12px 28px;
}
.wrapper10 .col1 {
    margin-bottom: 15px;
    margin-top: 25px;
}
.wrapper7-left{
    height: auto;
    width: 100%;
}
.wrapper7-left ul li:nth-child(1){
    display: none;
}
.wrapper7-left ul li:nth-child(2){
    display: none;
}
.wrapper7-left ul li:nth-child(3){
    width: 100%;
}
.wrapper7-left ul li:nth-child(4){
    display: none;
}
.wrapper7-right{
    float: left;
    width: 100%;
}
.wrapper7-right ul li:nth-child(1){
    width: 100%;
    padding: 33px 36px;
}
.wrapper7-right ul li:nth-child(2){
    display: none;
}
.wrapper7-right ul li:nth-child(3){
    display: none;
}
.wrapper7-right ul li:nth-child(4){
    width: 100%;
    padding: 33px 36px;
}
.bx-controls {
    display: none;
}
.top_tap_sub ul li {
    padding: 0 4%;
}
.top_tap_sub ul li a {
    padding: 10px 7px 10px 0;
}
.inner-pages h1 {
    text-align: center;
}
.subject_top_nav .dropdown {
    margin: 0 auto !important;
}
.certificate_wrapper {
    background: none;
    text-align: center;
}
.certificate_icon {
    margin: 0 auto;
}
.award_subject ul {
    text-align: center;
}
.award_grade ul {
    text-align: center;
}
.award_stat h4 {
    margin-bottom: 20px;
}
.print_action_div a {
    margin-bottom: 15px;
}
.pie_chart_style{
    width: 600px;
    height: 300px;
}
.bar_chart_style{
    width: 600px;
    height: 300px;
}
.score_time_div .score_ans {
    width: 30%;
    margin: 0 5px 10px 0;
}
.score_time_div .score_smart {
    width: 30%;
    margin: 0 5px 10px 0;
}
.score_time_div .score_time {
    width: 30%;
    margin: 0 5px 10px 0;
}
.score_time_div .score_time .content {
    padding: 1px 1px 1px 3px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}
.score_time_div .score_time .title {
    background: #f7bc01;
    color: #fff;
    /* height: 59px; */
    font-size: 16px;
    font-weight: 600;
    padding: 13px 10px;
    display: inline-block;
    width: 46%;
    line-height: 124%;
}